{% extends 'R47717MainBundle::layout.html.twig' %}

{% block title %}Task Calendar{% endblock %}

{% block body %}

<table class='calendar-table'>
	<tr class='overdue-row'>
		<td>Overdue</td>
		<td>
			{% for task in overdue %}
				<a href="{{ path('task_edit', {'id': task.id}) }}">{{ task.task }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% for item in data %}
	<tr>
		<td>{{ item.month }}</td>
		<td>
			{% for task in item.tasks %}
				<a href="{{ path('task_edit', {'id': task.id}) }}">{{ task.task }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}