{% extends 'R47717MainBundle::layout.html.twig' %}

{% block title %}All Tasks List{% endblock %}

{% block body -%}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><a href="{{ path('sort_tasks', {'field': 'task'}) }}">Task</a></th>
                <th><a href="{{ path('sort_tasks', {'field': 'status'}) }}">Status</a></th>
                <th><a href="{{ path('sort_tasks', {'field': 'startedDate'}) }}">Start Date</a></th>
                <th><a href="{{ path('sort_tasks', {'field': 'due'}) }}">Due Date</a></th>
                <th><a href="{{ path('sort_tasks', {'field': 'completed'}) }}">Is completed</a></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        {% if not entity.completed or not uncompleted_only and entity.completed %}
            {% if not entity.completed and (entity.isTaskOverdue()) %}
            <tr class='overdue-row'>
            {% else %}
            <tr class='ontime-row'>
            {% endif %}
                {% if entity.completed %}
                    <td><a class='completed' href="{{ path('task_edit', { 'id': entity.id }) }}">{{ entity.task }}</a></td>
                {% else %}
                    <td><a href="{{ path('task_edit', { 'id': entity.id }) }}">{{ entity.task }}</a></td>
                {% endif %}
                <td>{{ entity.status }}</td>
                <td>{% if entity.startedDate %}{{ entity.startedDate|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.due %}{{ entity.due|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.completed %}Yes{% else %}No{% endif %}</td>
                <td>
                    {% if entity.completed %}
                        <a href="{{ path('task_mark_uncomplete', {'id': entity.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    {% else %}
                        <a href="{{ path('task_mark_complete', {'id': entity.id}) }}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                    <a href="{{ path('task_delete', {'id': entity.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% block filter_form %}
        {{ form_start(filter_form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(filter_form.check) }}
        {{ form_label(filter_form.check) }}
        {{ form_rest(filter_form) }}
    {% endblock %}
{% endblock %}
