{% extends 'R47717MainBundle::layout.html.twig' %}

{% block title %}Add New Task{% endblock %}

{% block body -%}

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<table class='table table-bordered'>
		<tr>
			<td>{{ form_label(form.task) }}</td>
			<td>{{ form_widget(form.task) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.description) }}</td>
			<td>{{ form_widget(form.description, { 'attr': { 'rows' : '4'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.due, 'Due Date') }}</td>
			<td>{{ form_widget(form.due) }}</td>
		</tr>
	</table>
	{{ form_rest(form) }}

{% endblock %}
