{% extends 'R47717MainBundle::layout.html.twig' %}

{% block title %}Task Statistics{% endblock %}

{% block body %}
<table class='stat-table'>
	<tr>
		<td>Total number of tasks</td>
		<td>{{ stat.all }}</td>
	</tr>
	<tr>
		<td>Number of completed tasks</td>
		<td>{{ stat.completed }}</td>
	</tr>
	<tr>
		<td>Number of completed on-time tasks</td>
		<td>{{ stat.completed_ontime }}</td>
	</tr>
	<tr class='overdue-row'>
		<td>Number of completed overdue tasks</td>
		<td>{{ stat.completed_overdue }}</td>
	</tr>
	<tr>
		<td>Number of pending tasks</td>
		<td>{{ stat.pending }}</td>
	</tr>
	<tr>
		<td>Number of pending on-time tasks</td>
		<td>{{ stat.pending_ontime }}</td>
	</tr>
	<tr class='overdue-row'>
		<td>Number of pending overdue tasks</td>
		<td>{{ stat.pending_overdue }}</td>
	</tr>
</table>
{% endblock %}
