{% extends 'layout.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body -%}
	{% if not entity.completed and entity.isTaskOverdue() %}
		<div class='alert alert-danger'>This task is overdue</div>
	{% endif %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <table class="table table-bordered">
	    <tr><td>{{ form_label(form.id, 'ID') }}</td><td>{{ form_widget(form.id) }}</td></tr>
	    <tr><td>{{ form_label(form.task) }}</td><td>{{ form_widget(form.task) }}</td></tr>
	    <tr><td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}</td></tr>
	    <tr><td>{{ form_label(form.completed) }}</td><td>{{ form_widget(form.completed) }}</td></tr>
	    <tr><td>{{ form_label(form.status) }}</td><td>{{ form_widget(form.status) }}</td></tr>
	    <tr><td>{{ form_label(form.due) }}</td><td>{{ form_widget(form.due) }}</td></tr>
	    <tr><td>{{ form_label(form.categories, 'Categories') }}</td><td>{{ form_widget(form.categories) }}</td></tr>
    </table>
    {{ form_rest(form) }}
{% endblock %}
