{% extends 'layout.html.twig' %}

{% block title %}Add New Task{% endblock %}

{% block body -%}

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<table class='table table-bordered'>
		<tr>
			<td>{{ form_label(form.task) }}</td>
			<td>{{ form_widget(form.task) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.description) }}</td>
			<td>{{ form_widget(form.description, { 'attr': { 'rows' : '4'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.priority) }}</td>
			<td>{{ form_widget(form.priority) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.due, 'Due Date') }}</td>
			<td>
			{% if form.due is null %}
				<span>No due</span>
			{% else %}
				{{ form_widget(form.due) }}
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>{{ form_label(form.categories) }}</td>
			<td>{{ form_widget(form.categories) }}</td>
		</tr>
	</table>
	{{ form_end(form) }}

{% endblock %}
